.vid-card
{
    box-shadow: 0 0 0.5rem rgba(0,0,0,.15);
    cursor: pointer;
    transition: transform .2s;
    position: relative; 
}

.vid-card:hover {
    transform: scale(1.03);
}

#ellipWrap {
        width: 100px;
        background-color: #ccc;
}

.ell {
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* ellipsis line */
    -webkit-box-orient: vertical;

}

.card-title {
    color: #64686d;
}

.card-text {
    color: #959595;
}